.row, .jumbotron {
    text-align:center
}
.header {
    font-size:30px
}
.jumbotron {
    background-image:url("Oscar.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    
    background-position-y:center;
    color:white
}
#p {
    font-size:15px
}