.row, .jumbotron {
    text-align:center
}
.header {
    font-size:30px
}
.jumbotron {
    background-image:url("Oscar.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    
    background-position-y:center;
    color:white
}
#p {
    font-size:15px
}
.btn-primary {
    color:white
    
}
th, td {
    text-align:center
}
.table-img {
    height: 300px;
    width:450px
}
.btn {
    width:100%
}
li {
    margin-right:10px
}
.here {
    color:red
}
.carousel-caption {
    color:white;
    margin-bottom: 300px;
}
.carousel-caption p {
    color:blue;
    font-weight:bolder
}
.carousel-caption #tar {
    color:red
}
.carousel-item {
    height: 1000px;
  }
  
.carousel-item+img {
      position: absolute; 
      min-height: 500px;
      object-fit: cover;
      
}
.carousel-inner{
     height: 700px;
}
#cube {
    background-color:white;
    padding-bottom:100px
}
.tar, .car {
    height:700px
}
.cube .carousel-caption{
    color:black
}
#cube h1 {
    color:black
}